@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    --gradient-color-1: hsla(134, 50%, 77.3%, 0.5);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header button {
    font-family: 'Fugaz One', cursive;
    font-weight: 400;
    border: none;
    box-shadow: 0 0 2px black;
    border: 1px dotted transparent;
    border-radius: 5px;
    padding: .4em 1em;
    margin-left: .3em;
    transition: all 0.5s ease-in;
}
.header button:hover{
    box-shadow: unset;
    border: 1px dotted;
}
button.active {
    background-color: rgb(168, 226, 182);
}

.header {
    background: linear-gradient(135deg, var(--gradient-color-1), var(--gradient-color-1)), rgba(132, 222, 207, 0.4);
    box-shadow: 0 0 3px 1px silver;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
}

.header>img {
    height: 2em;
}

.main-container {
    flex: 1;
    background: linear-gradient(135deg, var(--gradient-color-1), var(--gradient-color-1)), url(images/background.gif) no-repeat center center / cover;
    padding: 1em;
    text-shadow: 0 0 3px black;
}

.search-container {
    color: antiquewhite;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.search-container>h1 {
    font-family: 'Fugaz One', cursive;
    font-weight: 400;
}

.images-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.images-container>img {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 2px red;
}

.images-container h1 {
    margin: auto;
    font-size: 51px;
    font-weight: 700;
    font-family: 'Fugaz One', cursive;
    color: rgb(52, 202, 88);
}